.navbar{
    height:10vh;
    width:100%;
    border:none;
    background:linear-gradient(to left,rgb(8, 100, 100),white);
    display:flex;
}
.navbar .logo{
    height:10vh;
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .logo img{
    height:15vh;
  }
.navbar .links{
    height:10vh;
    width:70%;
    font-size:16px;
}
.navbar .links ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}
.navbar .links a{
    text-decoration: none;
    font-weight: bold;
    color: #04362e;
}